//Variables for styles

//Backgrounds
$mainColor: #f2deba;
$secondaryColor: #ffefd6;
$mainAccentColor: #0e5e6f;
$secondaryAccentColor: #3a8891;

//Fonts colors
$mainFontColor: #000;
$secondaryFontColor: #fff;
$errorFontColor: #f00;

.app {
	display: flex;
	justify-content: center;

	.container {
		width: 1024px;

		.link {
			text-decoration: none;
			color: inherit;
		}
		//Login and registration forms styles

		.authentication {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			background-color: $mainColor;
		}

		h1 {
			font-size: 1.25em;
			color: $mainAccentColor;
			margin-bottom: 1.25em;
		}

		form {
			display: flex;
			flex-direction: column;
			padding: 0.8em;
			background-color: $secondaryColor;
			width: 200px;
			gap: 20px;
			-webkit-box-shadow: 0px 0px 10px 0px #3a8891;
			-moz-box-shadow: 0px 0px 10px 0px #3a8891;
			box-shadow: 0px 0px 10px 0px #3a8891;

			input {
				padding: 10px;
				border: none;
				border-bottom: 1px solid $mainColor;
				background-color: $secondaryColor;

				&::placeholder {
					color: $secondaryAccentColor;
				}
			}

			p {
				font-size: 0.75em;
				color: $errorFontColor;
				text-align: center;
			}

			button {
				padding: 10px;
				border: none;
				background-color: $secondaryAccentColor;
				color: #fff;
				cursor: pointer;
			}

			span {
				font-size: 0.75em;
				text-align: center;
			}
		}

		//Login and registration forms styles
		.navbar {
			.container {
				padding: 10px 0;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.logo {
					img {
						width: 124px;
					}
				}

				.links {
					display: flex;
					align-items: center;
					gap: 10px;

					h6 {
						font-size: 1rem;
						font-weight: 300;
					}

					span {
						cursor: pointer;
					}
				}

				.write {
					background-color: $mainColor;
					width: 50px;
					height: 50px;
					border-radius: 50%;

					// This property prevents links movement to the left when user hovers on .write element
					border: 1px solid #fff;

					display: flex;
					align-items: center;
					justify-content: center;

					font-weight: 300;

					&:hover {
						color: $mainAccentColor;
						background-color: #fff;
						border: 1px solid $mainAccentColor;
					}
				}
			}
		}
	}
}
