//Variables for styles

//Backgrounds
$mainColor: #f2deba;
$secondaryColor: #ffefd6;
$mainAccentColor: #0e5e6f;
$secondaryAccentColor: #3a8891;

//Fonts colors
$mainFontColor: #000;
$secondaryFontColor: #3a8891;
$errorFontColor: #f00;

.app {
	display: flex;
	justify-content: center;

	.container {
		width: 1024px;

		.link {
			text-decoration: none;
			color: inherit;
		}
		//Login and registration forms styles

		.authentication {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			background-color: $mainColor;
		}

		h1 {
			font-size: 1.25em;
			color: $mainAccentColor;
			margin-bottom: 20px;
		}

		form {
			display: flex;
			flex-direction: column;
			padding: 0.8em;
			background-color: $secondaryColor;
			width: 200px;
			gap: 20px;
			-webkit-box-shadow: 0px 0px 10px 0px #3a8891;
			-moz-box-shadow: 0px 0px 10px 0px #3a8891;
			box-shadow: 0px 0px 10px 0px #3a8891;

			input {
				padding: 10px;
				border: none;
				border-bottom: 1px solid $mainColor;
				background-color: $secondaryColor;

				&::placeholder {
					color: $secondaryAccentColor;
				}
			}

			p {
				font-size: 0.75em;
				color: $errorFontColor;
				text-align: center;
			}

			button {
				padding: 10px;
				border: none;
				background-color: $secondaryAccentColor;
				color: #fff;
				cursor: pointer;
			}

			span {
				font-size: 0.75em;
				text-align: center;
			}
		}

		//Navigation and navigation elements styles
		.navbar {
			.container {
				padding: 10px 0;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.logo {
					img {
						width: 124px;
					}
				}

				.links {
					display: flex;
					align-items: center;
					gap: 10px;

					h6 {
						font-size: 1rem;
						font-weight: 300;
					}

					span {
						cursor: pointer;
					}
				}

				.write {
					background-color: $mainColor;
					width: 50px;
					height: 50px;
					border-radius: 50%;

					// This property prevents links movement to the left when user hovers on .write element
					border: 1px solid #fff;

					display: flex;
					align-items: center;
					justify-content: center;

					font-weight: 300;

					&:hover {
						color: $mainAccentColor;
						background-color: #fff;
						border: 1px solid $mainAccentColor;
					}
				}
			}
		}

		//Footer and footer elements styles

		footer {
			margin-top: 100px;
			padding: 20px;
			background-color: $secondaryColor;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 0.75rem;

			img {
				height: 50px;
				width: 50px;
			}
		}

		//Home page and posts styles
		.home {
			.posts {
				margin-top: 50px;
				display: flex;
				flex-direction: column;
				gap: 120px;

				.post {
					display: flex;
					gap: 80px;

					&:nth-child(2n + 1) {
						flex-direction: row-reverse;
					}

					.thumbnail {
						flex: 2;
						position: relative;

						&::after {
							content: "";
							width: 100%;
							height: 100%;
							background-color: $secondaryColor;
							position: absolute;
							top: 20px;
							left: -20px;
							z-index: -1;
						}

						img {
							width: 100%;
							max-height: 360px;
							object-fit: cover;
						}
					}

					.content {
						flex: 3;
						display: flex;
						flex-direction: column;
						justify-content: space-between;

						h1 {
							font-size: 2.4rem;
						}

						p {
							font-size: 1.2rem;
						}

						button {
							width: max-content;
							padding: 10px 20px;
							border: none;
							cursor: pointer;
							background-color: #fff;
							border: 1px solid $secondaryAccentColor;
							color: $secondaryAccentColor;

							&:hover {
								border: 1px solid #fff;
								background-color: $secondaryAccentColor;
								color: $mainColor;
							}
						}
					}
				}
			}
		}

		// Single Post Page
		.single {
			display: flex;
			gap: 50px;

			.content {
				flex: 5;
				display: flex;
				flex-direction: column;
				gap: 30px;

				img {
					width: 100%;
					height: 300px;
					object-fit: cover;
				}

				.user {
					display: flex;
					align-items: center;
					gap: 10px;
					font-size: 0.8rem;

					img {
						width: 50px;
						height: 50px;
						border-radius: 50%;
						object-fit: cover;
					}

					span {
						font-weight: bold;
					}
				}

				.edit {
					display: flex;
					gap: 5px;

					img {
						width: 20px;
						height: 20px;
						cursor: pointer;
					}
				}

				h1 {
					font-size: 2rem;
				}

				p {
					text-align: justify;
					line-height: 1.8rem;
				}
			}

			//Side menu for other posts
			.menu {
				flex: 2;
				display: flex;
				flex-direction: column;
				gap: 16px;

				h1 {
					font-size: 1rem;
					color: $mainFontColor;
				}

				.post {
					display: flex;
					flex-direction: column;
					gap: 10px;

					img {
						width: 100%;
						height: 200px;
						object-fit: cover;
					}

					h2 {
						color: $secondaryFontColor;
					}

					button {
						width: max-content;
						padding: 8px 16px;
						border: none;
						cursor: pointer;
						background-color: #fff;
						border: 1px solid $secondaryAccentColor;
						color: $secondaryAccentColor;

						&:hover {
							border: 1px solid #fff;
							background-color: $secondaryAccentColor;
							color: $mainColor;
						}
					}
				}
			}
		}
		//Write Page
		.add {
			margin-top: 20px;
			display: flex;
			gap: 20px;

			.content {
				flex: 5;
				display: flex;
				flex-direction: column;
				gap: 20px;

				input {
					padding: 10px;
					border: 1px solid lightgray;
				}

				.editorContainer {
					height: 300px;
					overflow: scroll;
					overflow-x: hidden;
					border: 1px solid lightgray;

					.editor {
						height: 100%;
						border: none;
					}
				}
			}

			.menu {
				flex: 2;
				display: flex;
				flex-direction: column;
				gap: 20px;

				.invisible-input {
					display: none;
				}

				.item {
					border: 1px solid lightgray;
					padding: 10px;
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					font-size: 0.8rem;

					h1 {
						font-size: 1.2rem;
						margin-bottom: 0;
					}

					.file {
						text-decoration: underline;
						cursor: pointer;
					}

					.buttons {
						display: flex;
						justify-content: space-between;

						:first-child {
							cursor: pointer;
							color: $mainAccentColor;
							background-color: $secondaryColor;
							border: 1px solid $mainAccentColor;
							padding: 3px 5px;
							font-size: 0.8rem;
						}

						:last-child {
							cursor: pointer;
							color: $secondaryColor;
							background-color: $mainAccentColor;
							border: 1px solid $mainAccentColor;
							padding: 3px 5px;
							font-size: 0.8rem;
						}
					}

					.category {
						display: flex;
						align-items: center;
						gap: 2px;
						color: $mainAccentColor;

						input {
							width: 12px;
							height: 12px;
						}
					}
				}
			}
		}
	}
}
